<div class="container-fluid">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filter by team number or name" [formControl]="filter">
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="teamNumber" (sort)="onSort($event)">Team</th>
          <th scope="col" sortable="teamName" (sort)="onSort($event)">Team Name</th>
          <th scope="col" sortable="totalScoredAuto" (sort)="onSort($event)">Total Scored Auto</th>
          <th scope="col" sortable="totalUpperAuto" (sort)="onSort($event)">Total Upper Auto</th>
          <th scope="col" sortable="totalLowerAuto" (sort)="onSort($event)">Total Lower Auto</th>
          <th scope="col" sortable="percentFeeding" (sort)="onSort($event)">% of Times Feeding</th>
          <th scope="col" sortable="totalUpperTeleop" (sort)="onSort($event)">Total Upper Teleop</th>
          <th scope="col" sortable="totalLowerTeleop" (sort)="onSort($event)">Total Lower Teleop</th>
          <th scope="col" sortable="teleopAccuracy" (sort)="onSort($event)">Teleop Accuracy</th>
          <th scope="col" sortable="rotationControl" (sort)="onSort($event)">Rotation Control</th>
          <th scope="col" sortable="positionControl" (sort)="onSort($event)">Position Control</th>
          <th scope="col" sortable="mostCommonEndPosition" (sort)="onSort($event)">Most Common End Pos.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams$ | async; index as i">
          <td scope="row">{{i + 1}}</td>
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamNumber}}</a></td>
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamName}}</a></td>
          <td>{{team.totalScoredAuto}}</td>
          <td>{{team.totalUpperAuto}}</td>
          <td>{{team.totalLowerAuto}}</td>
          <td>{{team.percentFeeding | number:'1.1-2'}}</td>
          <td>{{team.totalUpperTeleop}}</td>
          <td>{{team.totalLowerTeleop}}</td>
          <td>{{team.teleopAccuracy | number:'1.1-2'}}</td>
          <td>{{team.rotationControl | number:'1.1-2'}}</td>
          <td>{{team.positionControl | number:'1.1-2'}}</td>
          <td>{{team.mostCommonEndPosition}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
