<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Team</th>
          <th>Team Name</th>
          <th>Avg Disks Scored</th>
          <th>Avg Balls Scored</th>
          <th>Game Pieces Dropped</th>
          <th>Highest Level Climbed</th>
          <th>Defensive Probability</th>
          <th>Total Disks</th>
          <th>Total Balls</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamNumber}}</a></td>
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamName}}</a></td>
          <td>{{team.avgDisk | number:'1.1-2'}}</td>
          <td>{{team.avgBall | number:'1.1-2'}}</td>
          <td>{{team.droppedGamePieces}}</td>
          <td>{{team.maxLevelClimbed}}</td>
          <td>{{team.avgDefensePlays | percent:'1.0-2'}}</td>
          <td>{{team.totalDisks}}</td>
          <td>{{team.totalBalls}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
