<div class="container-fluid">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Filter by team number or name" [formControl]="filter">
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="teamNumber" (sort)="onSort($event)">Team</th>
          <th scope="col" sortable="teamName" (sort)="onSort($event)">Team Name</th>
          <th scope="col" sortable="avgDisk" (sort)="onSort($event)">Avg Disks Scored</th>
          <th scope="col" sortable="totalDisks" (sort)="onSort($event)">Total Disks</th>
          <th scope="col" sortable="avgBall" (sort)="onSort($event)">Avg Balls Scored</th>
          <th scope="col" sortable="totalBalls" (sort)="onSort($event)">Total Balls</th>
          <th scope="col" sortable="avgClimbLevel" (sort)="onSort($event)">Average Level Climbed</th>
          <th scope="col" sortable="climbLevelMode" (sort)="onSort($event)">Most Common Level Climbed</th>
          <th scope="col" sortable="droppedGamePieces" (sort)="onSort($event)">Game Pieces Dropped</th>
          <th scope="col" sortable="avgDefensePlays" (sort)="onSort($event)">Defensive Probability</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams$ | async; index as i">
          <td scope="row">{{i + 1}}</td>
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamNumber}}</a></td>
          <td><a routerLink="/team/{{team.teamNumber}}">{{team.teamName}}</a></td>
          <td>{{team.avgDisk | number:'1.1-2'}}</td>
          <td>{{team.totalDisks}}</td>
          <td>{{team.avgBall | number:'1.1-2'}}</td>
          <td>{{team.totalBalls}}</td>
          <td>{{team.avgClimbLevel | number:'1.1-2'}}</td>
          <td *ngIf="team.climbLevelMode > 0; else noClimb">
            Level {{team.climbLevelMode}}
          </td>
          <ng-template #noClimb>
            <td>No level</td>
          </ng-template>
          <td>{{team.droppedGamePieces}}</td>
          <td>{{team.avgDefensePlays | percent:'1.0-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
