<div class="container-fluid">
  <form [formGroup]="form">
      <div class="card-columns">
          <div class="card">
              <h5 class="card-header">
                  Info
                  <br>
                  <small class="text-muted">Scouting as {{user.firstName}} {{user.lastName}}</small>
              </h5>
              <div class="card-body">
                  <label for="#teamnumber">Team #</label>
                  <input class="form-control" type='number' id='teamnumber' formControlName="teamNumber" placeholder='Enter Team Number here'>
              </div>
          </div>
          <div class="card">
              <h5 class="card-header">Pictures</h5>
              <div class="card-body">
                  <div class="card-columns">
                      <div *ngFor="let picture of picCounter; index as i">
                        <app-picture (fileOutput)="onFileSelected($event, i)" (deletePictureOutput)="deletePicture(i)"></app-picture>
                      </div>
                  </div>
                  <button class="btn btn-block btn-outline-dark" type="button" (click)="addPicture()">Add Picture</button>
              </div>
          </div>
          <div class="card">
              <h5 class="card-header">Comments</h5>
              <div class="div card-body">
                  <textarea class="form-control" id="comments" rows="3" cols="40" name='comments' formControlName="comment" placeholder='Enter other info, Ex: Avg. Cycle Time, Offense or Defense, Etc...'></textarea>
              </div>
          </div>
      </div>
      <div class="form-group">
          <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
      </div>
  </form>
</div>
