<div class="container-fluid">
  <form [formGroup]="form">
      <!-- <div ng-show="showRedirectMessage" role="alert" class="alert alert-danger alert-dismissible">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close">
              <span aria-hidden="true">&times;</span>
          </button>
          <strong>You must be logged in to scout or place a bet</strong>
      </div> -->
      <div class="card">
          <h5 class="card-header">Register</h5>
          <div class="card-body">
              <!-- <div class="form-group">
                  <label class="required" for="#teamNumber">Team Number</label>
                  <input type="number" name="teamNumber" id="teamNumber" formControlName="teamNumber">
              </div> -->
              <div class="form-group">
                  <label class="required" for="username">Username</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="Enter a Username" formControlName='username'
                      required>
              </div>
              <div class="form-group">
                  <label class="required" for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Enter a new password" formControlName="password"
                      required>
              </div>
              <div class="form-group">
                  <label class="required" for="confirmPassword">Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm your new password"
                      formControlName="confirmPassword" required>
              </div>
              <button class="btn btn-block btn-primary" [disabled]="form.invalid" (click)="onSubmit()">Register</button>
          </div>
      </div>
  </form>
</div>
