<div class="container-fluid">
  <h2>
    Team {{ teamInfo?.number }}, {{ teamInfo?.name }}
    <a class="btn btn-primary" style="float: right" routerLink="/pit/{{teamNumber}}">Pit data</a>
  </h2>
  <div class="card">
    <h3 class="card-header">Team Stats</h3>
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
          <th>% Initiation Line</th>
          <td>{{teamStats?.percentInitiationLine | percent}}</td>
        </tr>
        <tr>
          <th>Avg. Scored Auto</th>
          <td>{{teamStats?.avgScoredAuto}}</td>
        </tr>
        <tr>
          <th>Avg. Upper Auto</th>
          <td>{{teamStats?.avgUpperAuto}}</td>
        </tr>
        <tr>
          <th>Avg. Lower Auto</th>
          <td>{{teamStats?.avgLowerAuto}}</td>
        </tr>
        <tr>
          <th>% of Times Feeding</th>
          <td>{{teamStats?.percentFeeding | percent}}</td>
        </tr>
        <tr>
          <th>Avg. Upper Teleop</th>
          <td>{{teamStats?.avgUpperTeleop}}</td>
        </tr>
        <tr>
          <th>Avg. Lower Teleop</th>
          <td>{{teamStats?.avgLowerTeleop}}</td>
        </tr>
        <tr>
          <th>Teleop Accuracy</th>
          <td>{{teamStats?.teleopAccuracy | percent}}</td>
        </tr>
        <tr>
          <th>Rotation Control</th>
          <td>{{teamStats?.rotationControl | percent}}</td>
        </tr>
        <tr>
          <th>Position Control</th>
          <td>{{teamStats?.positionControl | percent}}</td>
        </tr>
        <tr>
          <th>Most Common End Position</th>
          <td>{{teamStats?.mostCommonEndPosition | endPosition}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3 class="card-header">Auto Match Data</h3>
    <div class="card-body table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Match #</th>
            <th>Scouter</th>
            <th>Spilled Balls</th>
            <th>Preloaded Balls</th>
            <th>Crossed Initiation Line</th>
            <th>Upper Scored Balls</th>
            <th>Upper Missed Balls</th>
            <th>Lower Scored Balls</th>
            <th>Lower Missed Balls</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of scoutForms">
            <td>{{ data.matchNumber }}</td>
            <td>{{ data.scouter }}</td>
            <td>
              <i
                *ngIf="data.spillBalls"
                class="material-icons text-success"
              >check</i
              >
              <i
                *ngIf="!data.spillBalls"
                class="material-icons text-danger"
              >clear</i
              >
            </td>
            <td>{{ data.preload }}</td>
            <td>
              <i
                *ngIf="data.crossInitiationLine"
                class="material-icons text-success"
                >check</i>
              <i
                *ngIf="!data.crossInitiationLine"
                class="material-icons text-danger"
                >clear</i>
            </td>
            <td>{{ data.autoUpperScoredBalls }}</td>
            <td>{{ data.autoUpperMissedBalls }}</td>
            <td>{{ data.autoLowScoredBalls }}</td>
            <td>{{ data.autoLowMissedBalls }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">TeleOp Match Data</h3>
    <div class="card-body table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Match #</th>
            <th>Scouter</th>
            <th>Score</th>
            <th>Upper Scored Balls</th>
            <th>Upper Missed Balls</th>
            <th>Lower Scored Balls</th>
            <th>Lower Missed Balls</th>
            <th>Position Control</th>
            <th>Rotation Control</th>
            <th>Endgame Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of scoutForms">
            <td>{{ data.matchNumber }}</td>
            <td>{{ data.scouter }}</td>
            <td>{{ data.score }}</td>
            <td>{{ data.teleopUpperScoredBalls }}</td>
            <td>{{ data.teleopUpperMissedBalls }}</td>
            <td>{{ data.teleopLowScoredBalls }}</td>
            <td>{{ data.teleopLowMissedBalls }}</td>
            
            <td>
              <i
                *ngIf="data.positionControl"
                class="material-icons text-success"
              >check</i
              >
              <i
                *ngIf="!data.positionControl"
                class="material-icons text-danger"
              >clear</i
              >
            </td>
            <td>
              <i
                *ngIf="data.rotationControl"
                class="material-icons text-success"
              >check</i
              >
              <i
                *ngIf="!data.rotationControl"
                class="material-icons text-danger"
              >clear</i
              >
            </td>
            <td>{{ data.endPosition }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Comments!</h3>
    <div class="card-body table-responsive">
      <ul class="list-group list-group-flush">
        <li *ngFor="let data of scoutForms" class="list-group-item">
          {{ data.comment }}
          <span *ngIf="!data.comment">No Comment</span>
          <footer class="blockquote-footer">
            {{data.scouter}}, match #{{ data.matchNumber }}
          </footer>
        </li>
      </ul>
    </div>
  </div>
</div>
