/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr.css';

label.required::after{
    content: " *";
    color: red;
}

label.error {
    color: red;
}

.required, .error{
    border-color: red !important;
}

.table-responsive>table>thead>tr>th,.table-responsive>table>tbody>tr>td{
  white-space: nowrap;
}

.card-columns{
  column-count: 1;
}

/* Bug fix for toastr in Angular 7 https://stackoverflow.com/questions/53989445/ngx-toastr-toast-not-showing-in-angular-7# */
#toast-container > div {
  opacity:1;
}

.toast-top-center {
  top: 56px;
}
