<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Yeti Scouting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed=!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/scouting">Stand Scouting</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/pit-scouting">Pit Scouting</a>
            </li>
            <li *ngIf="!userService.user" class="nav-item active">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li *ngIf="userService.user" class="nav-item active">
              <button class="btn btn-link nav-link" (click)="onLogout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
